on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to BNCloud
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy static to Tencent CloudBase
        id: deployStatic
        uses: TencentCloudBase/cloudbase-action@v1.1.1
        with:
          secretId: ${{ secrets.SECRET_ID }}
          secretKey: ${{ secrets.SECRET_KEY }}
          envId: ${{ secrets.ENV_ID }}
          staticSrcPath: ./
          staticIgnore: .git,.github,node_modules,oldversions,./oldversions,mdui,./mdui,libs,./libs,./js/demos,./js/SoftKey,./js/tests,./js/core,./js/media,./js/generators/python,./js/generators/javascript,./js/generators/dart,./js/generators/lua,./js/generators/php,./js/web,./js/closure,./js/package,./js/typings,./js/externs,./js/i18n,./js/theme_scripts,LICENSE,/assets,.gitignore,.eslintignore,.eslintrc.json,.jshintignore,.npmrc
